# Merging The two datasets
Here we will merge both the datasets from the Flight data module and the Weather data module
1. First read both the files into a dataframe 
2. Then we will look at the columns
3. We shall check if the datasets have any empty values or not
4. We need to add a time column in the flight data that mactches the the time column in the weather data.
    1. More will be explained at that module
5. Finally we will merge the datasets and check if the columns have same number of rows and also if there are any kind of missing values

In [1]:
# We will need only pandas for this module
import pandas as pd

In [2]:
# let us look at the flight data
flight_data = pd.read_csv("Data/Flight_Data.csv")
flight_data.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,DestAirportID,FlightDate,Month,Origin,OriginAirportID,Quarter,Year
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,12478,2016-01-01,1,SEA,14747,1,2016
1,0.0,11.0,1613.0,1602,745,2,0.0,0.0,737.0,12478,2016-01-02,1,SEA,14747,1,2016
2,0.0,0.0,1547.0,1602,745,3,0.0,0.0,743.0,12478,2016-01-03,1,SEA,14747,1,2016
3,0.0,0.0,1551.0,1602,745,4,0.0,0.0,737.0,12478,2016-01-04,1,SEA,14747,1,2016
4,0.0,0.0,1524.0,1527,710,5,0.0,0.0,708.0,12478,2016-01-05,1,SEA,14747,1,2016

In [3]:
# Now the shape of the flight data
flight_data.shape

(1873922, 16)

In [4]:
# We shall see the columns of the flight data
flight_data.columns

Index(['ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime', 'CRSDepTime',
       'DayofMonth', 'DepDel15', 'DepDelayMinutes', 'DepTime', 'DestAirportID',
       'FlightDate', 'Month', 'Origin', 'OriginAirportID', 'Quarter', 'Year'],
      dtype='object')

In [5]:
flight_data.isna().sum()

ArrDel15           0
ArrDelayMinutes    0
ArrTime            0
CRSArrTime         0
CRSDepTime         0
DayofMonth         0
DepDel15           0
DepDelayMinutes    0
DepTime            0
DestAirportID      0
FlightDate         0
Month              0
Origin             0
OriginAirportID    0
Quarter            0
Year               0
dtype: int64

In [6]:
# Let us repeat the above steps for the weather data too
weather_data = pd.read_csv('Data/Flight_Weather_data.csv', index_col = 0)
weather_data.head()

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,15,319,122,0.0,10,1026,86,33,23,40,34,76,0,2016-01-02,ATL
1,16,320,122,0.0,10,1026,81,33,23,39,33,78,100,2016-01-02,ATL
2,16,321,116,0.0,10,1026,76,33,23,38,32,80,200,2016-01-02,ATL
3,16,322,116,0.0,10,1026,71,33,23,38,31,83,300,2016-01-02,ATL
4,16,319,116,0.0,10,1026,79,32,23,37,30,83,400,2016-01-02,ATL

In [7]:
weather_data.shape

(263112, 15)

In [8]:
weather_data.columns

Index(['windspeedKmph', 'winddirDegree', 'weatherCode', 'precipMM',
       'visibility', 'pressure', 'cloudcover', 'DewPointF', 'WindGustKmph',
       'tempF', 'WindChillF', 'humidity', 'time', 'date', 'airport'],
      dtype='object')

In [9]:
weather_data.isna().sum()

windspeedKmph    0
winddirDegree    0
weatherCode      0
precipMM         0
visibility       0
pressure         0
cloudcover       0
DewPointF        0
WindGustKmph     0
tempF            0
WindChillF       0
humidity         0
time             0
date             0
airport          0
dtype: int64

In [10]:
flight_data.reset_index(inplace = True)
weather_data.reset_index(inplace = True)

In [11]:
flight_data.duplicated().sum()

0

In [12]:
weather_data.duplicated().sum()

0

## Time column for flight data
Here we will be adding a new feature for the Flight data on which we will merge, called DeptTime which essentially rounds off our values to the lower hundred if it is less than 30, the greater hundred if it is greater than 30 and evaluvates it to Zero if it is 2400

In [13]:
# Creating an empty list that will act as the series we will add to the dataframe
time_list = []
# Iterating through the flight data series CRSDepTime
for i in flight_data["CRSDepTime"]:
    # Converting time to int for logical comparision
    i = int(i)
    # Dividing by 100 and saving to new variable
    x = i%100
    # If it is less than 30w e just subtract it from the time
    if(x<30) :
        i = i - x
    # If it is greater than 30 we subtract it from 100  and add
    elif(x>=30) :
        i = i+(100 - x)
    # If it is 2400 we just make it 0
    if(i == 2400):
        i = 0
    # Appending to the series
    time_list.append(i)
flight_data['DeptTime'] = time_list

In [14]:
flight_data['DeptTime'].value_counts(ascending=True)

300         34
200       1926
100      14844
500      20510
0        25060
2300     35684
2100     57798
2200     64520
600      92652
1900     97802
2000     99562
1400    102684
1600    103652
1300    108014
1500    110126
1200    110458
1000    111324
1800    111572
900     112754
1700    113046
1100    120510
800     126630
700     132760
Name: DeptTime, dtype: int64

In [15]:
flight_data.duplicated().sum()

0

In [16]:
weather_data.duplicated().sum()

0

In [17]:
# Merging the data on the airport departure time and date
df = pd.merge(flight_data,weather_data,
              how = 'inner',
              left_on = ['Origin','DeptTime', 'FlightDate'],
              right_on = ['airport','time', 'date'])

In [18]:
# displaying the shape of the dataframe
df.shape

(1873584, 34)

In [19]:
df.head()

,index_x,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
1,12608,1.0,33.0,1237.0,1204,820,1,0.0,1.0,821.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
2,50768,0.0,0.0,1138.0,1143,759,1,0.0,0.0,754.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
3,51023,0.0,10.0,1401.0,1351,738,1,0.0,2.0,740.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
4,61167,0.0,0.0,1524.0,1527,745,1,0.0,0.0,742.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA

In [20]:
df.columns

Index(['index_x', 'ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime',
       'CRSDepTime', 'DayofMonth', 'DepDel15', 'DepDelayMinutes', 'DepTime',
       'DestAirportID', 'FlightDate', 'Month', 'Origin', 'OriginAirportID',
       'Quarter', 'Year', 'DeptTime', 'index_y', 'windspeedKmph',
       'winddirDegree', 'weatherCode', 'precipMM', 'visibility', 'pressure',
       'cloudcover', 'DewPointF', 'WindGustKmph', 'tempF', 'WindChillF',
       'humidity', 'time', 'date', 'airport'],
      dtype='object')

In [21]:
df.duplicated().sum()

0

In [22]:
df.drop_duplicates(inplace = True)

In [23]:
# displaying the shape of the dataframe
df.shape

(1873584, 34)

In [24]:
df.head()

,index_x,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
1,12608,1.0,33.0,1237.0,1204,820,1,0.0,1.0,821.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
2,50768,0.0,0.0,1138.0,1143,759,1,0.0,0.0,754.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
3,51023,0.0,10.0,1401.0,1351,738,1,0.0,2.0,740.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
4,61167,0.0,0.0,1524.0,1527,745,1,0.0,0.0,742.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA

In [25]:
df.columns

Index(['index_x', 'ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime',
       'CRSDepTime', 'DayofMonth', 'DepDel15', 'DepDelayMinutes', 'DepTime',
       'DestAirportID', 'FlightDate', 'Month', 'Origin', 'OriginAirportID',
       'Quarter', 'Year', 'DeptTime', 'index_y', 'windspeedKmph',
       'winddirDegree', 'weatherCode', 'precipMM', 'visibility', 'pressure',
       'cloudcover', 'DewPointF', 'WindGustKmph', 'tempF', 'WindChillF',
       'humidity', 'time', 'date', 'airport'],
      dtype='object')

In [26]:
# saving it to a new file
df.to_csv('Data/Merged_Flight_Weather.csv')

## READING THE DATA AGAIN

In [27]:
# Reading the final dataframe file
import pandas as pd
df_new = pd.read_csv('Data/Merged_Flight_Weather.csv', index_col = 0)

C:\Users\HP\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [28]:
# checking if all features have same number of rows
df_new.count()

index_x            1873584
ArrDel15           1873584
ArrDelayMinutes    1873584
ArrTime            1873584
CRSArrTime         1873584
CRSDepTime         1873584
DayofMonth         1873584
DepDel15           1873584
DepDelayMinutes    1873584
DepTime            1873584
DestAirportID      1873584
FlightDate         1873584
Month              1873584
Origin             1873584
OriginAirportID    1873584
Quarter            1873584
Year               1873584
DeptTime           1873584
index_y            1873584
windspeedKmph      1873584
winddirDegree      1873584
weatherCode        1873584
precipMM           1873584
visibility         1873584
pressure           1873584
cloudcover         1873584
DewPointF          1873584
WindGustKmph       1873584
tempF              1873584
WindChillF         1873584
humidity           1873584
time               1873584
date               1873584
airport            1873584
dtype: int64

In [29]:
df_new.isna().sum()

index_x            0
ArrDel15           0
ArrDelayMinutes    0
ArrTime            0
CRSArrTime         0
CRSDepTime         0
DayofMonth         0
DepDel15           0
DepDelayMinutes    0
DepTime            0
DestAirportID      0
FlightDate         0
Month              0
Origin             0
OriginAirportID    0
Quarter            0
Year               0
DeptTime           0
index_y            0
windspeedKmph      0
winddirDegree      0
weatherCode        0
precipMM           0
visibility         0
pressure           0
cloudcover         0
DewPointF          0
WindGustKmph       0
tempF              0
WindChillF         0
humidity           0
time               0
date               0
airport            0
dtype: int64

In [30]:
df_new.head()

,index_x,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
1,12608,1.0,33.0,1237.0,1204,820,1,0.0,1.0,821.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
2,50768,0.0,0.0,1138.0,1143,759,1,0.0,0.0,754.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
3,51023,0.0,10.0,1401.0,1351,738,1,0.0,2.0,740.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
4,61167,0.0,0.0,1524.0,1527,745,1,0.0,0.0,742.0,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA

In [31]:
df_new.shape

(1873584, 34)

In [33]:
df_new.duplicated().sum()

0